ul#nested-list{
    list-style-type:upper-roman;   
    color: blue;
    font-size: large;
}
ul#nested-list ul{
    list-style-type:upper-alpha;
    color: red;
    font-size: medium;
}
ul#nested-list ul ul{
    list-style-type: lower-alpha;
    color: green;
    font-size: small;
}
ul#nested-list li{
    margin-left: 20px;
}
ul#nested-list ul li{
    margin-left: 40px;
}
ul#nested-list ul ul li{
    margin-left: 60px;
}
dt{
    font-weight: bold;
}
dd{
    margin-left: 20px;
}
[rowspan]{
    color:red
}


section#znacky h2, section#znacky h3{
    padding-left: 0;
}
ol li:first-child{
    color: red;
}
#seznamy>h2, #seznamy>ol>li{
    color: green;
}
table{
    width: 100%;
    
}
caption{
    background-color: lightyellow;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    
}

td{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
th#JOE{
    background-color: slateblue;
    color: white;
}
th#L{
    background-color: dodgerblue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
td#M{
    background-color: lightgrey;
    color: red;
    
    
}

.theme{
    background: linear-gradient(90deg, rgba(223,39,11,1) 35%, rgba(255,188,0,1) 100%);
    color: white;

}

.navbar ul {
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.navbar ul li {
    border-right: 1px solid white;
}

.navbar ul li:first-child {
    border-left: 1px solid white;
}

.navbar ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    font-variant-caps: all-petite-caps;
    font-weight: 600;
}
body{
    width: 75%;
    margin: auto;
    background-image: url(../obr/b.jpg);
    background-repeat: repeat;
}
.l{
    background: linear-gradient(90deg, rgba(172,25,2,1) 100%, rgba(185,136,0,1) 100%);
}
body{
    background-color: white;
}
main, footer{
    background-color: white;
}
p{
    padding-left: 5px;
}
h5{
    padding-left: 5px;
}
